body {
    background-color: #D77E5E;
    font-family: 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.encabezado {
    background-color: black;
    background-image: url("/img/encabezado.png");
    background-size: cover;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 30%;
    top: 0%;

}

.container {
    background-color: #D77E5E;
    padding: 20px;
    padding-top: 180px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
}

.title {
    font-size: 60px;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}


.remember {
    margin-top: 60%;
    font-size: 60px;
    color: white;
    margin: 150px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: left;
}

.content {
    font-size: 20px;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    text-align: justify;
    margin-right: 350px;
}

.button {
    background-color: white;
    color: #D77E5E;
    border: none;
    border-radius: 0.25em;
    padding: 2em 2em;
    text-decoration: none;
    font-size: 1.1em;
    margin: 0 0.5em;
    transition: background-color 0.2s;
}

.button-container {
    justify-content: center;
    padding-top: 140px;
    margin-left: 45%;
}

.button:hover{
    background-color: #D77E5E;
    color: white;
}